<!DOCTYPE html>
{% extends "suggestapp/index.html" %}
{% block body_block %}
{% csrf_token %}
<html lang="en">



<body>



    <div class="container">
        {% if all %}
        <h5>You previously selected below keywords. </h5>
        <!-- {{ keywords }} -->
        {% for i in keyword_list %}

        <ul>
            <li class='deleteMe'>{{ i }}</li><span class="close">&times;</span>

        </ul>


        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            {% for i in all %}
            <input type="checkbox" id="keywords" name="keywords" value="{{i.keyword_name}}">
            <label for=" keywords"> {{ i.keyword_name }}</label><br>
            <!-- {{ form.as_p }} -->
            {% endfor %}
            <br />
            <input type="submit" class="regBtn" name="" value="Subscribe">

        </form>
        {% endif %}
        {% if updated %}
        <h5>{{ updated }} </h5>
        {% endif %}
        {% if failure %}
        <h5>{{ failure }} </h5>



        {% endif %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>


            $(document).ready(function () {
                // $(".deleteMe").on("click", function () {
                //     $(this).closest("li").remove();
                // });
                $(".deleteMe").on("click", function () {
                    $(this).closest("ul").remove();
                    $.ajax({
                        url: '',
                        type: 'get',
                        data: {
                            // li_text: $(this).text()
                            li_text: $(this).closest("li").text()
                        },
                        success: function (response) {
                            $(".deleteMe").text(response.seconds)

                        }


                    });
                });
            });
        </script>
    </div>




    {% endblock %}